<h1>Add a new Word</h1>

<form action="/words" method="post">
  <div class="form-group">
    <label for="word_name">Name of your word</label>
    <input id="n" name="word_name" class="form-control" type="text">


  </div>
  <button type="submit" class="btn">Go!</button>
</form>
