<h4>Word Name: <%= @word.name %></h4>


<a href="/words/<%= @word.word_id %>/definitions">Click here to see all definitions for <%= @word.name %> </a>

<p><a href="/words/<%= @word.word_id %>/edit">Edit word</a></p>

<a href="/words">Return to word list</a>
